<p-toast></p-toast>
<ng-form #addForm="ngForm">
  <!-- ///////////////////////////////////////////////////////INFORMATION CLIENT///////////////////////////////////////////////// -->
    <p-fieldset legend="Information Client">
    <div class="grid">
        <div class="col">
              <div class="field col-6 md:col-4">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="pi pi-user"></i>
                    </span>
                    <span class="p-float-label">
                        <input inputId="inputnumber"  (change)="onCinChange()"
                        [(ngModel)]="ncin" name="ncin" maxlength="8"  pInputText >

                        <label for="inputgroup">Num CIN</label>
                    </span>
                </div>
            </div>
               <div class="text-left p-3 border-round-sm  font-bold ">
                  <h5 for="icon">Date de Naissance</h5>
                  <p-calendar [(ngModel)]="birthday"
                  name="birthday" [showIcon]="true" inputId="icon" disabled="true"></p-calendar>

               </div>
                <div class="text-left p-3 border-round-sm  font-bold ">
                    <h5>Num de compte</h5>
                    <p-dropdown [options]="bankAccountArray"  [(ngModel)]="selectedBankAccount"
                    (onClick)="onSelectingAccount()"
                    name="BankAccount" optionLabel="id"></p-dropdown>
              </div>


        </div>

            <div class="col">
                <div class="field col-6 md:col-4">
                  <div class="p-inputgroup">
                      <span class="p-inputgroup-addon">
                          <i class="pi pi-user"></i>
                      </span>
                      <span class="p-float-label">
                          <input type="text"
                          disabled="true"
                          [(ngModel)]="nom"
                          name="nom" pInputText>
                          <label for="inputgroup">Nom</label>
                      </span>
                  </div>
              </div>
              <div class="text-left p-3 border-round-sm  font-bold ">
                <h5>Situation Familiale </h5>
                <input type="text" [(ngModel)]="situationFamiliale"  disabled="true" name="situationFamiliale" pInputText>
            </div>
                <div class="text-left p-3 border-round-sm  font-bold ">
                    <h5>Devise </h5>
                    <input type="text" [(ngModel)]="devise"  disabled="true" name="devise" pInputText>
                </div>
            </div>
            <div class="col">
                <!-- <div class="text-left p-3 border-round-sm  font-bold ">
                    <h5>Prénom</h5>
                    <input type="text"  disabled="true"
                    type="text" [(ngModel)]="prenom" name="prenom" pInputText>
                </div> -->
                <div class="field col-6 md:col-4">
                  <div class="p-inputgroup">
                      <span class="p-inputgroup-addon">
                          <i class="pi pi-user"></i>
                      </span>
                      <span class="p-float-label">
                          <input type="text"  disabled="true"
                          type="text" [(ngModel)]="prenom" name="prenom" pInputText>
                          <label for="inputgroup">Prénom</label>
                      </span>
                  </div>
              </div>

                <div class="text-left p-3 border-round-sm  font-bold ">
                    <h5 for="icon">Date d'ouverture du compte</h5>
                    <p-calendar [(ngModel)]="dateOvertureCompte"
                    name="dateOvertureCompte" [showIcon]="true" inputId="icon" disabled="true"></p-calendar>

                </div>

              </div>
        </div>
<br>
<!-- ////////////////////////////////////////////////////DOSSIER CREDIT//////////////////////////////////////////////////////////// -->
    </p-fieldset>
    <br>
    <p-fieldset legend="Dossier Credit" [toggleable]="true" [collapsed]="true">
        <div class="grid">
            <div class="col-6">
                <div class="text-left p-3 border-round-sm  font-bold">
                    <h5>montant</h5>
                    <input type="text" [(ngModel)]="montant" name="montant" pInputText>

                </div>
                <div class="text-left p-3 border-round-sm  font-bold ">
                    <h5>nbre echeance </h5>

                    <input type="text"
                    [(ngModel)]="nbreEcheance"
                    name="nbreEcheance" pInputText>
                </div>
            </div>
            <div class="col-6">
                <div class="text-left p-3 border-round-sm  font-bold col-4">
                    <h5>Type Credit: </h5>
                    <p-dropdown [(ngModel)]="selectedTypeCredit" [options]="typecreditArray" placeholder="select a type" (onChange)="onSelectTypeCredit()"
                     name="selectedTypeCredit"  optionLabel="nom"></p-dropdown>

                </div>
                <div class="text-left p-3 border-round-sm  font-bold ">
                    <h5>unité </h5>
                    <p-dropdown [options]="uniteArray" placeholder="selectionner unite" (onChange)="onChangeUnite()" [(ngModel)]="unite" name="unite" optionLabel="nom"></p-dropdown>
                </div>
            </div>
        </div>
      </p-fieldset>
<!-- ////////////////////////////////////////////////////////Garanties Proposées/////////////////////////////////////////////////// -->
<br>

    <p-fieldset legend="Garanties Proposées" [toggleable]="true" [collapsed]="true">
        <!-- ::::::::::::::::::::::::::::::::::modal:::::::::::::::::::::::::::::::::::::: -->
        <p-button (click)="showModalDialog()" icon="pi pi-external-link" label="Ajouter garantie"></p-button>

<p-dialog header="Ajouter un nouveau garantie" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    <div class="grid">
      <div class="col-6">
          <div class="text-center p-3 border-round-sm  font-bold">
            <span class="ml-2">Devise</span><br>
            <p-dropdown type="text"  [options]="DeviseGarantieArray" optionLabel="nom" name="DeviseGarantieInput"placeholder="Choisissez une devise de garantie" (onClick)="showStateDeviseGarantie()" [(ngModel)]="DeviseGarantieInput"></p-dropdown>

          </div>
      </div>
      <div class="col-6">
          <div class="text-center p-3 border-round-sm  font-bold">
            <span class="ml-2">Type</span><br>
            <p-dropdown type="text"  [options]="TypeGarantieArray" optionLabel="nom" name="TypeGarantieInput" placeholder="Choisissez un type garantie" (onClick)="showStateTypeGuarantie()" [(ngModel)]="TypeGarantieInput"></p-dropdown>

          </div>
      </div>
      <div class="col-6">
          <div class="text-center p-3 border-round-sm  font-bold">
            <span class="ml-2">Valeur</span><br>
            <input type="text" [(ngModel)]="ValeurGarantieInput" placeholder="Donner une valeur du garantie" name="ValeurGarantieInput" required
            [ngModelOptions]="{standalone: true}" (ngModelChange)="ValeurGarantieInput = isPositiveInteger($event) ? $event : null">
     <div *ngIf="!isPositiveInteger(ValeurGarantieInput)">Le champ valeur à introduire doit être un entier positif.</div>
          </div>
      </div>
      <div class="col-6">
          <div class="text-center p-3 border-round-sm  font-bold">
            <span class="ml-2">Nature</span><br>
            <p-dropdown type="text" [options]="NatureGarantieArray" optionLabel="nom" name="NatureGarantieInput" placeholder="Choisissez une nature guarantie" (onClick)="showStateNature()" [(ngModel)]="NatureGarantieInput"></p-dropdown>

          </div>
      </div>
  </div>

        <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="displayModal=false" label="Ok" styleClass="p-button-text" placeholder="" (onClick)="onConfirmDialog()"></p-button>
        </ng-template>
</p-dialog>
<!-- ::::::::::::::::::::::::::::::::::modal:::::::::::::::::::::::::::::::::::::: -->
        <p-table [value]="guarantiesArrayOfDemand" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nature</th>
                    <th>Type</th>
                    <th>Valeur</th>
                    <th>Devise</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-g>
                <tr>
                    <th>{{g.natureGuarantie===null? 'none':g.natureGuarantie.nom }}</th>
                    <td>{{g.typeGuarantie===null? 'none':g.typeGuarantie.nom}}</td>
                    <td>{{g.valeur}}</td>
                    <td>{{g.devise===null? 'none':g.devise.nom}}</td>
                    <td>
                        <button (click)="showMaximizableDialog(g)"  pButton pRipple icon="pi pi-pencil" id="editbutton" class="p-button-rounded p-button-success mr-2" ></button>
                       <button (click)="deleteGarantieElement(g)" pButton  icon="pi pi-trash" class="p-button-rounded p-button-warning" > </button>
                        <!-- _______________________________________________________Modal Edit________________________________________________________________________ -->
                        <p-dialog header="Modifer " [(visible)]="displayMaximizable" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true"
                        [draggable]="false" [resizable]="false">
                        <div class="grid">
                          <div class="col">
                              <div class="text-center p-3 border-round-sm  font-bold">
                                <span class="ml-2">Nature</span>
                        <p-dropdown type="text" [options]="NatureGarantieArray" optionLabel="nom" name="natureUpdateState"  [(ngModel)]="natureUpdateState"></p-dropdown>
                        <br><span class="ml-2">Type</span>
                        <p-dropdown type="text"  [options]="TypeGarantieArray" optionLabel="nom" name="natureUpdateState"   [(ngModel)]="typeUpdateState"></p-dropdown>

                              </div>
                          </div>
                          <div class="col">
                              <div class="text-center p-3 border-round-sm  font-bold ">
                                <span class="ml-2">Valeur</span>
                                    <input type="text" pInputText  placeholder="Donner une valeur du garantie" name="natureUpdateState" placeholder={{g.valeur}} [(ngModel)]="valeurUpdateState">
                                   <span class="ml-2">Devise</span>
                                  <p-dropdown type="text"  [options]="DeviseGarantieArray" optionLabel="nom" name="natureUpdateState" [(ngModel)]="deviseUpdateState"></p-dropdown>
                              </div>
                          </div>

                      </div>

                        <!-- placeholder="{{g.natureGuarantie===null? 'none':g.natureGuarantie.nom}} " -->
                        <!-- placeholder="{{g.typeGuarantie===null? 'none':g.typeGuarantie.nom}}" -->
                        <!-- placeholder={{g.valeur}} -->
                        <!-- placeholder="{{g.devise===null? 'none':g.devise.nom}}" -->

                         <ng-template pTemplate="footer">
                        <p-button icon="pi pi-check" (click)="onUpdateGarantie(g)"   styleClass="p-button-text"></p-button>
                        </ng-template>
                        </p-dialog>
                      </td>
                </tr>


            </ng-template>
        </p-table>
    </p-fieldset>
    <br><br>
    <!-- ///////////////////////////////////////////////////////////////////////PIECES JOINTES//////////////////////////////////////////////////////////// -->
    <p-fieldset legend="Pieces jointes" [toggleable]="true" [collapsed]="true">
        <p-table [value]="PieceJointeArray" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th>Document</th>
                    <th>oblgatoire</th>
                </tr>
            </ng-template>
              <ng-template pTemplate="body" let-document>
                <tr>
                  <td>{{ document.nom }}</td>
                  <td>
                    <ng-container *ngIf="obligedDocuments.includes(document.nom)">oui</ng-container>
                    <ng-container *ngIf="!obligedDocuments.includes(document.nom)">non</ng-container>
                  </td>

                </tr>
              </ng-template>


        </p-table>

        <p-fileUpload mode="basic" chooseLabel="Choose FILE"
        url="https://www.primefaces.org/cdn/api/upload.php"
        (onUpload)="onFileChange($event)"></p-fileUpload>


    </p-fieldset>

<!-- /////////////////////////////////////////////////////////OBSERVATION///////////////////////////////////////////////////// -->
    <p-fieldset ngClass="carta"  legend="Observation" [toggleable]="true" [collapsed]="true">
        <textarea pInputTextarea [(ngModel)]="observation" name="observation" id="text" placeholder="your text is here"></textarea>
    </p-fieldset>
    <br>
    <div class="FormSubmitButtons">
      <button pButton type="button" (click)="refreshPage(addForm)" label="Cancel" icon="pi pi-times"></button>
      <p-button (onClick)="submit(addForm)" label="Envoyer" icon="pi pi-check" ></p-button>

    </div>

   </ng-form>
