@import '@angular/material/prebuilt-themes/indigo-pink.css';

.logoInThemiddle{
    height:40px ;
    width:40px ;
    border-radius:35px;

}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.example-form-field {
    width: 200px;
  }
  .example-form-field-devise{
    width:50px;
 
    
  }
  .deviseText{
   margin-left: 40px;
   margin-right: 20px;
  }
  .navButton{
    background-color: aliceblue;
 
  }
  .space{
    margin: 10px;
    width: 20px;
  }

  .space-label{
        margin-left: 40px;
        margin-right: 20px;   
  }

#addButton{
    margin-left: 30px;
    background-color: rgb(114, 114, 245);
}
#deleteButton{
    background-color: rgb(224, 100, 100);
}
#editButton{
    background-color: rgb(195, 238, 131);
}
