/*  @import '@angular/material/prebuilt-themes/indigo-pink.css';

.logoInThemiddle{
    height:40px ;
    width:40px ;
    border-radius:35px;

}
html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: flex;
      align-items: center;
      justify-content: center;
      height: 180vh;
      margin: 0;

 }
.example-form-field {
    width: 200px;
  }
  .example-form-field-devise{
    width:50px;


  }
  .deviseText{
   margin-left: 40px;
   margin-right: 20px;
  }
  .navButton{
    background-color: aliceblue;

  }
  .space{
    margin: 10px;
    width: 20px;
  }

  .space-label{
        margin-left: 40px;
        margin-right: 20px;
  }

#addButton{
    margin-left: 30px;
    background-color: rgb(114, 114, 245);
}
#deleteButton{
    background-color: rgb(224, 100, 100);
}
#editButton{
    margin-left: 30px;
    background-color: rgb(195, 238, 131);
}
.Observation{
  width: 95%;
margin: 20px;
}

#Submit{
  margin-left: 50%;
  background-color: rgb(114, 114, 245);
  color:white;
}
#Submit:hover{
  background-color: rgb(165, 165, 245);
  color: rgb(255, 255, 255);
}

.button-container {
  text-align: center;
}
.button-container button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
}
.files-upload{

  border-radius: 5px;
  justify-content: center;

}
.drop-container {
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding: 20px;
  border-radius: 10px;
  border: 2px dashed #555;
  color: #444;
  cursor: pointer;

}

.drop-container:hover {
  background: #eee;
  border-color: #111;
}

.drop-container:hover .drop-title {
  color: #222;
}

.drop-title {
  color: #444;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: color .2s ease-in-out;
}

#Card{
  border:3px solid rgb(240, 240, 240);
  border-radius: 15px;
  width: 120vh;

}
 */
 #editbutton{
  background-color:rgb(111, 111, 255) ;
 }
.FormSubmitButtons{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.FormSubmitButtons button{
  margin: 0 5px;
  padding: 10px 20px;
}
#navButton{
  height:48px;
  border-radius: 3px;
  border:2px solid rgb(65, 154, 255);
  background-color: #2196F3;
  margin: 0px;
  color:white;
  width: 100%;
}
#text{
  height: 150px;
}
#dialogAjouterGarantie{
  width: '70vw';
  align-items: center;

}
#rghtside{
  border-left:1px solid rgb(228, 228, 228);
  border-bottom: 2px solid rgb(228, 228, 228);;
  padding: 10px;
  border-radius: 20px;

}
.blue{
color: #2196F3;
}
.red{
  color:red
}
.green{
  color: greenyellow;
}
