<form #demandeCredit="ngForm" >
  <mat-card>
      <mat-card-header>
        <mat-card-title>Information Client</mat-card-title>
      <!--   <mat-card-subtitle>Start</mat-card-subtitle> -->
      </mat-card-header>
      <!-- ____________________________row 1 ____________________________________ -->
      <mat-grid-list cols="3" rowHeight="100px">
      <mat-grid-tile>
          <div class="space-label">Numero CIN:</div>
          <div>
              <mat-form-field class="example-form-field">
                  <mat-label>N°Cin</mat-label>
                  <input matInput type="text" [(ngModel)]="ncin" name="ncin">

                      <button matSuffix mat-icon-button aria-label="Clear" (click)="ncin=0">
                        <mat-icon>close</mat-icon>
                      </button>

                </mat-form-field>
          </div>

      </mat-grid-tile>


      <mat-grid-tile>
          <div class="space-label">Nom:</div>
          <div>
              <mat-form-field class="example-form-field">
                  <mat-label>Nom</mat-label>
                  <input matInput type="text" [(ngModel)]="nom" name="nom">

                      <button matSuffix mat-icon-button aria-label="Clear" (click)="nom=''">
                        <mat-icon>close</mat-icon>
                      </button>

                </mat-form-field>
      </div>
  </mat-grid-tile>


      <mat-grid-tile>
          <div class="space-label">Prenom:</div>
          <div>
              <mat-form-field class="example-form-field">
                  <mat-label>Prenom</mat-label>
                  <input matInput type="text" [(ngModel)]="prenom" name="prenom">

                      <button matSuffix mat-icon-button aria-label="Clear" (click)="prenom=''">
                        <mat-icon>close</mat-icon>
                      </button>

                </mat-form-field>
      </div>
      </mat-grid-tile>
  </mat-grid-list>


  <!-- ______________________________________row 2_____________________________________ -->
  <mat-grid-list cols="3" rowHeight="100px">
      <mat-grid-tile>
          <div>
              <mat-form-field>
                  <mat-label>N° du compte</mat-label>
                  <mat-select >
                      <!-- <mat-select [(ngModel)]="selectedOption"> -->
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option1">Option 2</mat-option>
                  </mat-select>
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>

          <div class="deviseText">
              Devise:
          </div>
          <div>

              <mat-form-field class="example-form-field-devise">

                  <mat-label>Devise</mat-label>

                  <input matInput type="text" [(ngModel)]="devise" name="devise">

                      <button matSuffix mat-icon-button aria-label="Clear" (click)="devise=''">
                        <mat-icon>close</mat-icon>
                      </button>

                </mat-form-field>
      </div>
      </mat-grid-tile>




      <mat-grid-tile>
          <div class="space-label">Date d'ouverture compte:</div>
          <div>
              <mat-form-field>
                  <mat-label>Choose a date</mat-label>
                  <input matInput [matDatepicker]="picker" [(ngModel)]="dateOvertureCompte" name="dateOvertureCompte">
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
          </div>

      </mat-grid-tile>

  </mat-grid-list>
  </mat-card>
  <br>
  <!-- __________________________________Dossier Credit_________________________ -->

  <mat-card id="Card">
      <mat-card-header>
        <mat-card-title>Dossier Credit</mat-card-title>

      </mat-card-header>
      <!-- ________________row 3_________________ -->
      <mat-grid-list cols="2" rowHeight="100px">
          <mat-grid-tile>
              <div class="space-label">Type Credit:</div>
              <div>
                  <mat-form-field>
                      <mat-label>Type</mat-label>
                      <mat-select >
                          <!-- <mat-select [(ngModel)]="selectedOption"> -->
                        <mat-option value="option1">Option 1</mat-option>
                        <mat-option value="option1">Option 2</mat-option>
                      </mat-select>
                    </mat-form-field>
              </div>

          </mat-grid-tile>


          <mat-grid-tile>
              <div class="space-label">Montant:</div>
              <div>
                  <mat-form-field class="example-form-field">
                      <mat-label>Montant</mat-label>
                      <input matInput type="text" [(ngModel)]="montant" name="montant">

                          <button matSuffix mat-icon-button aria-label="Clear" >
                            <mat-icon>close</mat-icon>
                          </button>

                    </mat-form-field>
          </div>
      </mat-grid-tile>



      </mat-grid-list>

  <!-- _______________row 4_____________________ -->
  <mat-grid-list cols="2" rowHeight="100px">
      <mat-grid-tile>
          <div class="space-label">Unité:</div>
          <div>
              <mat-form-field>
                  <mat-label>Unité</mat-label>
                  <mat-select >
                      <!-- <mat-select [(ngModel)]="selectedOption"> -->
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option1">Option 2</mat-option>
                  </mat-select>
                </mat-form-field>
          </div>

      </mat-grid-tile>


      <mat-grid-tile>
          <div class="space-label">Nbre d'echeance:</div>
          <div>
              <mat-form-field class="example-form-field">
                  <mat-label>Nbre d'echeance</mat-label>
                  <input matInput type="text" [(ngModel)]="nbreEcheance"  name="nbreEcheance">

                      <button matSuffix mat-icon-button aria-label="Clear" >
                        <mat-icon>close</mat-icon>
                      </button>

                </mat-form-field>
      </div>
  </mat-grid-tile>



  </mat-grid-list>
  </mat-card>
<br>
  <!-- _______________________________Guaranties Proposées_______________________ -->
  <mat-card>
      <mat-card-header>
        <mat-card-title>Garanties Proposées</mat-card-title>
      </mat-card-header>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Nature</th>
              <th scope="col">Type</th>
              <th scope="col">Valeur</th>
              <th scope="col">Devise</th>
              <th scope="col"> <div class="space-button">Action<button id="addButton" mat-raised-button>Ajouter</button></div></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let t of tablet.items">
              <th scope="row">{{t.name}}</th>
              <td>{{t.name}}</td>
              <td>{{t.name}}</td>
              <td>{{t.name}}</td>
              <td><button id="editButton" mat-raised-button>Modifier</button><button id="deleteButton" mat-raised-button>Delete</button></td>
            </tr>


          </tbody>
        </table>

  </mat-card>
  <br>
  <!-- __________________________Pieces Jointes ___________________________________ -->
  <mat-card>
      <mat-card-header>
        <mat-card-title>Pieces jointes</mat-card-title>
      </mat-card-header>

      <table class="table">
          <thead>
            <tr>
              <th scope="col">Document</th>
              <th scope="col">Obligatoire</th>
              <th scope="col">Statut</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let t of tablet.items">
                  <th scope="col">need to fetch data </th>
                  <th scope="col">files selon type credit</th>
                  <th scope="col">  <input type="checkbox" aria-label="Checkbox for following text input"></th>
          </tbody>

      </table>
      <label for="images" class="drop-container" id="dropcontainer">

        <input type="file" class="files-upload" (change)="onFileChange($event)" multiple >
      </label>

  </mat-card>
<br>
  <!-- _____________________Observation_______________________ -->
  <mat-card>
      <mat-card-header>
        <mat-card-title>Observation</mat-card-title>
      </mat-card-header>

      <mat-form-field class="Observation">
        <mat-label>Observation</mat-label>
        <textarea matInput [(ngModel)]="observation"></textarea>
      </mat-form-field>
  </mat-card>
  <mat-card>
    <div class="button-container">
      <button id="Reset" mat-raised-button>Initialiser</button>
      <button  id="Submit" mat-raised-button (click)="showFormData()">Enregistrer</button>
    </div>
  </mat-card>

  </form>

